body {
    display: flex;
    justify-content: center;

    background: #F2F2F2;
}

main {
    max-width: 1360px;
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background: white;
}

.home {

    max-width: 1109px;
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #111111;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.svg-block {
    max-width: 15px;
    width: 100%;
    min-height: 15px;
    display: inline-block;
}

.text-format {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;

    letter-spacing: -0.346154px;

    color: #111111;
}

#text-color {
    color: #4A4FF2;
}

.nav-menu {
    max-width: 1109px;
    width: 100%;
    min-height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-spacing {
    max-width: 353px;
    width: 100%;
    min-height: 23px;

    display: flex;
    justify-content: space-between;
}

.footer {
    min-height: 180px;
    display: flex;
    align-items: center;
}

.footer-socials {
    max-width: 95px;
    width: 100%;
    min-height: 23px;

    display: flex;
    justify-content: space-between;
}

.nav-links {
    max-width: 162px;
    width: 100%;
    min-height: 23px;

    display: flex;
    justify-content: space-between;
}

.top-title-box {
    max-width: 1037px;
    width: 100%;
    min-height: 347px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    /* background-color: mediumorchid; */
}

.top-title {
    max-width: 635px;
    width: 100%;
    min-height: 251px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* background-color: maroon; */
}

.title-star {
    max-width: 173px;
    width: 100%;
    min-height: 28px;

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.423077px;

    color: #4A4FF2;

    /* background: mediumaquamarine; */
}

.title-bakh {
    max-width: 635px;
    width: 100%;
    min-height: 191px;

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;

    color: #111111;

    /* background-color: mediumaquamarine; */
}

.title-quote {
    max-width: 212px;
    width: 100%;
    min-height: 34px;
    position: relative;
    bottom: 23px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* background-color: mediumblue; */
}

.quote-design {
    max-width: 207px;
    width: 100%;
    min-height: 23px;
    
    font-family: 'Mulish', sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    color: #111111;

    mix-blend-mode: normal;
    opacity: 0.6;
}

.gallery {
    max-width: 1109px;
    width: 100%;
    min-height: 2104px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    /* background-color: mediumorchid; */
}

.gallery-container {
    max-width: 1109px;
    width: 100%;
    min-height: 1960px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 351px 42px 166px 165px 104px 104px 289px 42px 166px 351px;
    gap: 20px 20px;
}

.gallery-pic {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery-pic:hover {
    transform: scale(1.01);
}

.galleryItem1 {
    grid-row: 1 / span 2;
}
.galleryItem2 {
    grid-row: 1 / span 1;
}
.galleryItem3 {
    grid-row: 1 / span 3;
}
.galleryItem4 {
    grid-row: 3 / span 3;
}
.galleryItem5 {
    grid-row: 2 / span 3;
}
.galleryItem6 {
    grid-row: 4 / span 3;
}
.galleryItem7 {
    grid-row: 6 / span 3;
}
.galleryItem8 {
    grid-row: 5 / span 3;
}
.galleryItem9 {
    grid-row: 7 / span 3;
}
.galleryItem10 {
    grid-row: 9 / span 2;
}
.galleryItem11 {
    grid-row: 8 / span 3;
}
.galleryItem12 {
    grid: 10 / span 2;
}

.workhard {
    max-width: 1079px;
    width: 100%;
    min-height: 298px;

    display: flex;
    align-items: center;

    /* background: chocolate; */
}

.workhard-container {
    max-width: 1079px;
    width: 100%;
    min-height: 106px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    /* background: chartreuse; */
}

.workhard-para {
    max-width: 635px;
    width: 100%;
    min-height: 106px;

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;


    color: #111111;
}

.workhard-contentlist {
    max-width: 349px;
    width: 100%;
    min-height: 89px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    mix-blend-mode: normal;
    opacity: 0.6;

    /* background-color: cornflowerblue; */
}

.divider {
    display: flex;
    align-self: flex-end;
    position: absolute;
}

.awards-container {
    max-width: 1110px;
    width: 100%;
    min-height: 411px;

    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;

    /* background-color: darkcyan; */
}

.awards-heading {
    max-width: 474px;
    width: 100%;
    min-height: 213px;

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;

    color: #111111;

    /* background-color: darkgreen; */
}

.awards-content {
    max-width: 635px;
    width: 100%;
    min-height: 362px;

    /* background-color: darkgoldenrod; */
}

.awards-content-top {
    max-width: 635px;
    width: 100%;
    min-height: 181px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    /* background-color: darkred; */
}

.genesis-container {
    max-width: 190px;
    width: 100%;
    min-height: 110px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* background-color: darksalmon; */
}

.contPix {
    position: relative;
    right: 5px;
}

.genesis-head {
    max-width: 131px;
    width: 100%;
    min-height: 20px;

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #111111;
}

.genesis-para {
    max-width: 190px;
    width: 100%;
    min-height: 78px;

    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;

    color: #111111;

    mix-blend-mode: normal;
    opacity: 0.6;
}

.year {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;

    color: #111111;
}

.awards-content-bot {
    max-width: 635px;
    width: 100%;
    min-height: 181px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    /* background-color: darkorchid; */
}

.design-awards-container {
    max-width: 1110px;
    width: 100%;
    min-height: 411px;

    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    flex-wrap: wrap;

    /* background-color: darkcyan; */
}
